#Directiories to ignore
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ee]xportedObj/
[Bb]uild/

# Windows image file caches
Thumbs.db
ehthumbs.db

#Visual Studio items
*.svd
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

Library
!ProjectSettings/InputManager.asset
*.csproj
*.sln
*.suo


*.DotSettings
DenMother/\.vs
Uncanny/\.idea/

Codebase/RandomGenerator/\.idea/

Codebase/RandomGenerator/Assets/Plugins/Editor/JetBrains/

Codebase/RandomGenerator/Assets/Plugins/Editor/JetBrains\.meta

Codebase/Sotum/\.idea/

DenMother/\.idea/

DenMother/Assets/Plugins/Editor/JetBrains/

DenMother/Assets/Plugins/Editor/JetBrains\.meta

DenMother/ProjectSettings/AudioManager\.asset

DenMother/ProjectSettings/ClusterInputManager\.asset

DenMother/ProjectSettings/DynamicsManager\.asset

DenMother/ProjectSettings/EditorBuildSettings\.asset

DenMother/ProjectSettings/EditorSettings\.asset

DenMother/ProjectSettings/GraphicsSettings\.asset

DenMother/ProjectSettings/NavMeshAreas\.asset

DenMother/ProjectSettings/NetworkManager\.asset

DenMother/ProjectSettings/Physics2DSettings\.asset

DenMother/ProjectSettings/PresetManager\.asset

DenMother/ProjectSettings/ProjectSettings\.asset

DenMother/ProjectSettings/ProjectVersion\.txt

DenMother/ProjectSettings/QualitySettings\.asset

DenMother/ProjectSettings/TagManager\.asset

DenMother/ProjectSettings/TimeManager\.asset

DenMother/ProjectSettings/UnityConnectSettings\.asset


DenMother/Assets/Plugins/Editor\.meta
